html, body {
    margin: 0;
}
body {
    background-color: rgba(5, 108, 108, .6);
    display: flex;
    justify-content: center;
    
}

.wrapper {
    width: 1200px;
    display:flex;
    margin: 0 auto;
    background-color: black;
    color: goldenrod;
    
}
.main {
    display: block;
    flex-flow: column;
    width: 80%;
}
.menu {
    display: inline-block;
    width:1%;
    background-color: goldenrod;
    padding: 10px 20px 0px;
    color: goldenrod;
    
}
.header {
    background-color: black;
    min-height: 150px;
    color: goldenrod;
    text-align: center;
}
.content  {
    text-align: center;
    background-color: black;
    min-height: 300px;
    padding: 20px;
    
}
 .row{
    display:block;
    width: 80%;
    text-align: center;
    
 }
 .cadastro{
    text-align: justify;
 }
.tabela{
    text-align: center;
}
.footer {
    background-color: black;
    min-height: 150px;
    text-align: center;
    
}